.Movie {
    position: relative;

    
}

.Image {
    /* width: 100%;
    min-height: 200px; */
    max-width: 100%;
    height: auto;
}

.Title {
    text-align: center;
    margin: 10px 0;
    height: 25px;
    overflow: hidden;
}
