.subtitle{
    color: steelblue !important;
    margin-top: 2em;
    text-align: center;
}

.Movie {
    position: relative;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    margin: 1em auto;
    transition: all .3s;
}

.Movie:hover{
    box-shadow: 2px 2px 17px 1px rgba(0, 0, 0, 0.25);
}